<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UDOO Neo IoT playground</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand">UDOO Neo IoT playground</a>
                <span style="position:absolute;right:10px;top:10px;" id="ConnStatus">Not Connected</span>
            </div>
        </nav>

        <div id="iot-ct">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-warning" style="margin-left:15px;">
                        <div class="panel-heading">
                            Smart Home 
                            <span class="pull-right">House IP: 192.168.0.4</span>
                        </div>
                        <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <canvas id="house-temp" width="100" height="250" style="margin-left:30px;">
                                [No canvas support]
                                </canvas>
                            </div>
                            <div class="col-xs-10">
                                <canvas id="house-temp-serie" width="680" height="250">
                                    [No canvas support]
                                </canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3" style="text-align:center;">
                                <h3>Water sensor</h3>
                                <img id="house-water" class="house-icon" src="/images/water.png">
                            </div>
                            <div class="col-xs-3" style="text-align:center;">
                                <h3>Smoke sensor</h3>
                                <img id="house-smoke" class="house-icon" src="/images/fire.png">
                            </div>
                            <div class="col-xs-3" style="text-align:center;">
                                    <h3>Gas sensor</h3>
                                <img id="house-gas" class="house-icon" src="/images/gas.png">
                            </div>
                            <div class="col-xs-3" style="text-align:center;">
                                    <h3>Solar panel</h3>
                                <img id="house-solar" class="house-icon" src="/images/sun.png">
                            </div>
                        </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-6">
                    <div class="panel panel-warning" style="margin-right:15px;">
                        <div class="panel-heading">
                            Smart Cars 
                            <span class="pull-right">Car1 IP: 192.168.1.101 &middot; Car2 IP: 192.168.1.102</span>
                        </div>
                        <div class="panel-body">
                            
                            <div class="row">
                                <div class="col-xs-6" style="text-align:center;">
                                    <h3 style="margin-top: 9px;">Car 1</h3>
                                    <div class="truck-container not-animated" id="mycar1">
                                        <div class="truck">
                                        <div class="body">
                                        <img src="/images/truck-under-gialla.svg" width="500" height="136" data-cms-original-src="truck-under-gialla.svg">
                                        <div class="shine"></div>
                                        <img src="/images/truck-frame-gialla.svg" width="500" height="136" class="frame" data-cms-original-src="truck-frame-gialla.svg">
                                        </div>

                                        <div class="speed-thingy"></div>
                                        <div class="speed-thingy second"></div>
                                        <div class="shadow"></div>

                                        <div class="wheel back"></div>
                                        <div class="wheel front"></div>
                                        </div>
                                    </div>

                                    <br><br>
                                    
                                    <div id="car1speedx" style="text-align:center;">
                                        <img src="/images/display.png">
                                        <div class="needle"></div>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-xs-6" style="text-align:center;">
                                    <h3 style="margin-top: 9px;">Car 2</h3>
                                    <div class="truck-container not-animated" id="mycar2">
                                        <div class="truck">
                                        <div class="body">
                                        <img src="/images/truck-under-red.svg" width="500" height="136" data-cms-original-src="truck-under-gialla.svg">
                                        <div class="shine"></div>
                                        <img src="/images/truck-frame-red.svg" width="500" height="136" class="frame" data-cms-original-src="truck-frame-gialla.svg">
                                        </div>

                                        <div class="speed-thingy"></div>
                                        <div class="speed-thingy second"></div>
                                        <div class="shadow"></div>

                                        <div class="wheel back"></div>
                                        <div class="wheel front"></div>
                                        </div>
                                    </div>

                                    <br><br>
                                    
                                    <div id="car2speedx">
                                        <img src="/images/display.png">
                                        <div class="needle"></div>
                                    </div>
                                    
                                    <!-- <div style="height:35px;">&nbsp;</div> -->
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-warning" style="margin-left:15px;">
                        
                        <div class="panel-heading">
                            Smart Parking
                            <span class="pull-right">Infrastructure IP: 192.168.0.3</span>
                        </div>
                        <div class="panel-body">
                            
                            <div class="row">
                                <div class="col-xs-3" style="text-align:center;">
                                    <h3>Park 1</h3>
                                    <img id="smartcity-p1" class="house-icon" src="/images/p1.png">
                                </div>
                                <div class="col-xs-3" style="text-align:center;">
                                    <h3>Park 2</h3>
                                    <img id="smartcity-p2" class="house-icon" src="/images/p2.png">
                                </div>
                                <div class="col-xs-3" style="text-align:center;">
                                    <h3>Street light</h3>
                                    <img id="smartcity-light" class="house-icon" src="/images/light.png">
                                </div>
                                <div class="col-xs-3" style="text-align:center;">
                                    <h3>Lumen</h3>
                                    <div style="height:50px;">&nbsp;</div>
                                    <div class="progress">
                                      <div id="smartcity-lumen" class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" 
                                        style="width: 60%;">
                                        <span class="sr-only"></span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        
                    </div>
                </div>
                
                <div class="col-xs-6">
                    <div class="panel panel-warning" style="margin-right:15px;">
                        <div class="panel-heading">
                            Smart Truck
                            <span class="pull-right">Truck IP: 192.168.0.5</span>
                        </div>
                        <div class="panel-body">
                            
                            <div class="row">
                                <div class="col-xs-3 camionnnn">
                                    <div id="truckspeedx" style="text-align:center;">
                                        <img src="/images/display.png">
                                        <div class="needle"></div>
                                    </div>
                                    
                                </div>
                                <div class="col-xs-9">
                                    <div class="truck-container camion" style="margin-left:50px;" id="mytruck">
                                        <div class="truck">
                                        <div class="body">
                                        <div class="shine"></div>
                                        <img src="/images/truck-frame-camion.svg" width="530" height="245" class="frame" data-cms-original-src="truck-frame-camion.svg">
                                        </div>

                                        <div class="speed-thingy"></div>
                                        <div class="speed-thingy second"></div>
                                        <div class="shadow"></div>

                                        <div class="wheel back"></div>
                                        <div class="wheel front"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/rgraph/libraries/RGraph.common.core.js"></script>
    <script src="js/rgraph/libraries/RGraph.common.dynamic.js"></script>
    <script src="js/rgraph/libraries/RGraph.common.effects.js"></script>
    <script src="js/rgraph/libraries/RGraph.gauge.js"></script>
    <script src="js/rgraph/libraries/RGraph.line.js" ></script>
    <script src="js/rgraph/libraries/RGraph.thermometer.js"></script>
    <script type='text/javascript' src='js/socket-gpio.js'></script>
    <script>
        window.onload = function () {
            
            window.widgets.housetemp = new RGraph.Thermometer({
                id: 'house-temp',
                min: 0,
                max: 50,
                value: 0
            }).draw()
        };
    </script>
</body>
</html>
